@charset "UTF-8";

// set up variables

$text-main: "Montserrat", sans-serif;
$text-secondary: "Barlow Condensed", sans-serif;

$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

$fs-base: 16px;
$fs-header: 32px;
$fs-header-lg: 48px;

$px-S: 8px;
$px-M: 16px;
$px-L: 24px;
$px-XL: 32px;
$px-XXL: 48px;

$color-main: #000000;
$color-bg: #ffffff;
$color-accent: #f5c7ba;
$color-accent-2: #b5d8f1;

$media-breakpoint-sm: 576px;
$media-breakpoint-md: 768px;
$media-breakpoint-lg: 992px;
$media-breakpoint-xl: 1200px;

#es-rc #es-rc-content {
  font-family: $text-main;
  font-size: $fs-base;
  font-weight: $fw-regular;
  line-height: 1.2;
  color: $color-main;
  background-color: $color-bg;
  max-width: 990px;
  margin: 0 auto;
  container: es-rc-content / inline-size;

  ::selection {
    background-color: $color-accent-2;
    color: #000000;
  }

  // minimal css reset

  * {
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .es-section-title {
    font-family: $text-secondary;
    font-size: $fs-header;
    font-weight: $fw-regular;
    text-align: center;
    margin-block: $px-M;
    text-transform: uppercase;
    text-wrap: balance;
    &--bold {
      font-weight: $fw-semibold;
    }
    @container es-rc-content (min-width: 768px) {
      font-size: $fs-header-lg;
    }
  }

  .es-kv {
    &__text {
      font-family: $text-secondary;
      text-transform: uppercase;
      text-align: center;
      text-wrap: balance;
      margin-block: $px-L;
      line-height: 1;
      &__title {
        font-size: 40px;
        font-weight: $fw-bold;
      }
      &__subtitle {
        font-size: 24px;
        font-weight: $fw-medium;
      }
    }
    &__bg {
      &--mobile {
        display: block;
      }
      &--desktop {
        display: none;
      }
    }
    @container es-rc-content (min-width: 500px) {
      position: relative;
      &__text {
        position: absolute;
        bottom: 0;
        left: 10%;
        bottom: 4%;
        max-width: 60%;
        margin: unset;
        color: $color-bg;
        text-shadow: 0 4px 28px rgba(0, 0, 0, 0.6);
      }
      &__bg {
        &--mobile {
          display: none;
        }
        &--desktop {
          display: block;
        }
      }
      &__packshot {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 40%;
        height: 100%;
        object-fit: contain;
        padding: $px-L;
      }
    }
    @container es-rc-content (min-width: 576px) {
      &__text {
        left: 11%;
        &__title {
          font-size: 52px;
        }
        &__subtitle {
          font-size: 30px;
        }
      }
    }
    @container es-rc-content (min-width: 768px) {
      &__text {
        &__title {
          font-size: 66px;
        }
        &__subtitle {
          font-size: 38px;
        }
      }
    }
  }

  .es-headline {
    @container es-rc-content (min-width: 768px) {
      position: relative;
      &__title {
        color: $color-bg;
        position: absolute;
        top: 46%;
        right: 6%;
        max-width: min-content;
        transform: translate(0, -50%);
        text-shadow: 0 4px 16px rgba(0, 0, 0, 0.32);
        line-height: 1;
      }
    }
  }

  .es-slider {
    // Swiper styles reset start
    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after,
    .swiper-button-next:after,
    .swiper-rtl .swiper-button-next:after {
      content: "";
    }
    .swiper-button-next,
    .swiper-button-prev {
      width: unset;
      height: unset;
      position: static;
      justify-content: unset;
      margin: 0;
      display: unset;
    }
    &__buttons {
      display: flex;
      width: 100%;
      justify-content: space-between;
      position: absolute;
      top: 50%;
      left: 0;
      &--prev__img,
      &--next__img {
        display: block;
        width: 24px;
        height: 24px;
        margin: 0;
      }
      &--prev__img {
        transform: rotate(180deg);
      }
    }
    .es-swiper-pagination {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      .swiper-pagination-bullet-active {
        background: $color-bg;
      }
    }
    &__pagination {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    // swiper styles reset end

    .es-slide {
      padding: $px-L;
      &__container {
        position: relative;
        background-color: $color-accent;
        padding: 0 0 $px-M $px-M;
      }
      &__desc {
        color: $color-bg;
        text-align: center;
        text-wrap: balance;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
        line-height: 1;
        &--title {
          margin-bottom: $px-S;
          font-weight: $fw-bold;
        }
        &--subtitle {
          font-size: 20px;
          font-weight: $fw-semibold;
          font-family: $text-secondary;
          text-transform: uppercase;
        }
      }
    }

    @container es-rc-content (min-width: 600px) {
      .es-slide {
        &__container {
          position: relative;
          padding: 0;
        }
        &__desc {
          position: absolute;
          left: 0%;
          top: 50%;
          transform: translate(0%, -50%);
          width: 60%;
          padding-left: 32px;
        }
      }
    }
    @container es-rc-content (min-width: 768px) {
      .es-slide {
        &__desc--subtitle {
          font-size: 31.5px;
        }
      }
    }
  }

  .es-colors {
    .es-section-title {
      color: $color-accent;
    }
    background-color: $color-accent;
    padding: $px-L $px-L 0 $px-L;

    &__container {
      background-color: $color-bg;
      padding: $px-M;
      padding-bottom: $px-XXL;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    }

    &__flex-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: $px-L $px-M;
      row-gap: $px-XXL;
      flex-wrap: wrap;
    }
    &__item {
      position: relative;
      max-width: 200px;
      &__desc {
        position: absolute;
        bottom: -9%;
        left: 0;
        width: 100%;
      }
      &__desc__wrapper {
        position: relative;
      }
      &__number {
        font-family: $text-secondary;
        font-size: 32px;
        font-weight: $fw-bold;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 8px;
        color: $color-bg;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 12%;
      }
    }
    @container es-rc-content (min-width: 712px) {
      display: flex;
      flex-direction: row-reverse;
      padding: $px-L;
      position: relative;
      &__item {
        max-width: 150px;
        width: 23%;
      }
      &__container {
        width: 77%;
        margin-left: auto;
      }
      &__flex-container {
        z-index: 4;
        position: relative;
        justify-content: flex-end;
        gap: $px-S;
      }
      &__photo {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        max-height: 100%;
        width: auto;
        z-index: 3;
      }
    }
    @container es-rc-content (min-width: 980px) {
      &__container {
        padding-bottom: 70px;
      }
      &__item {
        max-width: 155px;
      }
    }
  }

  .es-video {
    padding: 0 $px-L $px-L $px-L;
    background-color: $color-accent;
  }

  .es-cross {
    padding: 60px 16px;

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32px 8px;
      margin-top: 32px;
    }

    &__single {
      max-width: 300px;
      display: flex;
      align-items: center;
      flex-flow: column;
      color: $color-main;
    }

    &__single:hover {
      .es-cross__img {
        transform: scale(1.05);
      }

      .es-cross__link {
        background-color: #fff;
        color: #000;
        box-shadow: inset 0 0 0 2px #000;
      }
    }

    &__packshot {
      margin-bottom: 16px;
      padding-bottom: 16px;
    }

    &__img {
      max-height: 100%;
      transition: all 0.3s;
      width: 80%;
    }

    &__name {
      line-height: inherit;
      font-size: 22px;
      text-transform: uppercase;
      font-family: $text-secondary;
      text-align: center;
      margin-bottom: 8px;
      font-weight: $fw-bold;
    }

    &__desc {
      text-align: center;
      font-size: 14px;
      margin-bottom: 32px;
    }

    &__link {
      margin: 0;
      line-height: inherit;
      font-size: 20px;
      background: $color-main;
      color: #fff;
      text-decoration: none;
      padding: 16px 40px;
      font-weight: 700;
      text-transform: uppercase;
      font-family: $text-secondary;
      text-align: center;
      display: inline-block;
      transition: color 0.3s;
      width: 100%;
    }
    @container es-rc-content (min-width: 768px) {
      &__container {
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        gap: 32px 8px;
        margin-top: 32px;
      }

      &__single {
        min-width: 230px;
        width: 30%;
      }

      &__desc {
        height: 9em;
      }
    }
    @container es-rc-content (min-width: 880px) {
      &__desc {
        height: 7em;
      }
    }
  }

  .es-footer {
    background-color: $color-main;
    &__logo {
      max-width: 200px;
      padding: $px-M;
    }
  }

  // accessibility improvement for animations
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}
